TENTANTID=5000
ORGID=5000010

USER=100
PASSWORD=Aa111111!
BASE_URL=https://test2a.everjiankang.cn
MOBILENUM=18341250990

VERSION=V8.1.5
LOGINPATH=/api/thc-platform-core/unify/userLoginNew
ReplaceToken=/api/thc-platform-core/unify/switchOrgToReplaceToken/

flag=test
admin=admin
pw=admin@123
pre_url=https://dsskyy611.everjiankang.cn
